@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --cl-box-shadow: hsla(0, 0%, 0%, 0.1);
  --cl-black-500: hsl(213, 23%, 9%);
  --cl-white-400: hsl(228, 33%, 97%);
  --cl-white-500: hsl(0, 0%, 100%);
  --cl-white-600: hsl(216, 33%, 97%);
  --cl-white-700:	hsl(0, 0%, 95%);
  --cl-grey-500: hsl(0, 0%, 84%);
  --cl-grey-600: hsl(0, 0%, 74%);
  --cl-blue-grey-500: hsl(218, 39%, 88%);

  --cl-blue-700: hsl(237, 61%, 43%);
  --cl-blue-500: hsl(202, 82%, 44%);

  --cl-red-500: hsl(353, 63%, 49%);
  --cl-green-500:	hsl(90, 63%, 43%);
  --cl-green-600:	hsl(159, 68%, 35%);

  --ff-main: "Roboto", sans-serif;
  --ff-logo: "Righteous", sans-serif;

  --fw-thin: 100;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

img, svg {
  max-width: 100%;
  display: block;
}

button {
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}

html {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: var(--ff-main);
}

p {
  font-size: 1rem;
}

ol, ul, li{
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--cl-black-500);
}

input {
  outline: none;
}

body {
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--cl-white-700);
}

.round-box {
  border-radius: 1rem;
  box-shadow: 0 2.3px 2px 2px var(--cl-box-shadow);
  background-color: var(--cl-white-500);
}

.svg-inline--fa {
  font-size: 1rem;
}

.container {
  display: flex;
  flex-direction: row;
}

.root-div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 1rem;
}

.root-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* HEADER COMPONENT */
.header-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-width: 90vw;
  background-color: var(--cl-white-500);
}

.flex-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.input-search {
  min-width: 500px;
  padding: 10px;
  
  background-color: var(--cl-white-700);
  box-shadow: 2px 2px 1px 1px var(--cl-box-shadow);
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
  transform: 0.25s ease;
}

/* .input-search[type=text]:focus {
  outline: 1px solid var(--cl-grey-600);
} */

.input-search[type=text]::placeholder {
  color: var(--cl-grey-600);
}

.flex-end {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
/* BREAK */


/* MENU */
.hamburger-react {
  z-index: 12;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--cl-white-500);
  text-align: start;
  min-height: 95vh;
  width: 100px;
  z-index: 10;
  position: relative;
  top: 0;
  left: 0;
  /* position: absolute;
  top: 0;
  left: 0; */
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 2.9rem;
  padding-bottom: 250px;
}

.menu-list span {
  visibility: hidden;
}

.menu-list a {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.menu-list .svg-inline--fa {
  font-size: 1.2rem;
}
/* BREAK */

/* HAMBURGER BUTTON */
.button-menu-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.button-menu-div h1 {
  font-family: var(--ff-logo);
  z-index: 12;
}

/* DASHBOARD */
.dashboard-container {
  display: flex;
  flex-direction: row;
  margin: 5rem;
  justify-content: space-evenly;
}

.dashboard-card {
  display: flex;
  flex-direction: column;
  background-color: var(--cl-white-500);
  border-radius: 0.5rem;
  line-height: 3rem;
  padding: 5rem;
}

.dashboard-column-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.column-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  width: 300px;
  background-color: var(--cl-white-500);
}

.column-card img {
  max-width: 64px;
}

.column-text {
  display: flex;
  flex-direction: column;
  text-align: end;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}